body {
    background-color: red;
}
h1 {
    color: darkslategrey;
}

header {
    position: fixed;
    right: 100px;
    bottom: 70%;
}

li {
        display: inline;  
        text-decoration: underline;  
        
}

input[type=text] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }

